
# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# logs
logs/
*.log
*.log.*

# built documentation
docs/build/

# virtual environment
venv/

# IDE/editor files
.vscode/

# System files (macOS, Windows)
.DS_Store
Thumbs.db
ehthumbs.db
.AppleDouble
.LSOverride

# Test files
pytest_cache/

# Environment and secret files
.env
.env.*
.key
secrets/

# Other files
.cache/
